<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{base :: head(Cliente-Cadastrar)}"></head>
<body>
    <header th:replace="~{base::cabecalho}"></header>
    <main>
        <h1>Cadastro de Cliente</h1>
        <form action="/cliente/salvar" method="post">
            <input type="hidden" name="id" id="id" th:value="${cliente.id}">
    
            <div class="mb-3">
                <label for="nome" class="form-label">nome:</label>            
                <input class="form-control" type="text" name="nome" id="nome" th:value="${cliente.nome}">
            </div>
            <div class="mb-3">
                <label for="sobrenome" class="form-label">sobrenome:</label>                
                <input class="form-control" type="text" name="sobrenome" id="sobrenome" th:value="${cliente.nomeDiretor}">
            </div>   
            <input class="btn  btn-primary" type="submit" value="Salvar">
        </form>
        <br />
        <a class="btn  btn-secondary" href="/cliente">Voltar para lista </a>
        <br />
    </main>
    
</body>
</html>