h1{
    background: rgb(190, 4, 106);
    color:white; 
    text-align: center;
}
div{
    background: rgb(190, 4, 106);
    color: white;
    text-align: left;
    margin: 50px auto 50px;
    width: 30%;
    padding: 10px;

}
input{
    text-align: center;
        
}
