<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringData - Formulario</title>
</head>
<body>
    <h1>Cadastro de SpringData</h1>
    <form action="/springData/salvar" method="post">
        <input type="hidden" name="id" id="id" th:value="${springData.id}">
        nome: <input type="text" name="nome" id="nome" th:value="${springData.nome}"> <br>
        nome diretor: <input type="text" name="tipo" id="tipo" th:value="${springData.tipo}"> <br>
        <input type="submit" value="Salvar">
    </form>
    <br />
    <a href="/springData">Voltar para lista </a>
    <br />
</body>
</html>